body{
    background-color: rgb(190, 188, 188);
}
.header h1{
    text-align: center;
    padding-top: 3%;
}
.container{
    background-color: rgb(245, 241, 241);
    width: 100%;
    height: 80%;
    max-width: 780px;
    
    margin: 1.6em auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3%;
    grid-template-rows: 100px auto auto 270px;
}
.header{
    grid-column:2 ;
 
}
.main img{
    padding-top: 30%;
    width: 100px;
    text-align: center;
}
.main h4{
    text-align: center;
}
.main h3{
    padding-top: 20px;
    padding-left:5%;
}
.main p{
    text-align: center;
}
.main ul{
    padding-top: 5%;
}
.main li{
    padding-top: 5%;
}
.main{
    background-color: rgb(228, 224, 224);
    grid-row-start:1;
    grid-row-end: 4;
   
}
.side h3{
    text-align:left;
}
.side p{
    font-size: 12px;
    font-family: century gothic;
}
.side{
    grid-row: 2;
    grid-column:2;

}
.experiencia{
    grid-row:4;
    grid-column:1 ;
    background-color: rgb(228, 224, 224);
}
.capacitaciones{
    grid-row:3;
    grid-column:2;
}
.experiencia h3{
    padding-left: 15px;
}
.experiencia ul{
    padding-right: 20px;
}
.referencias h3 {
    grid-row: 1;
    grid-column-start:1;
    grid-column-end:5 ;

}
.referencias{
    grid-row: 4;
    grid-column:2;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding-right: 10px;
    padding-block-end: 7px;
}

.box {
    background-color: rgb(243, 217, 217);
    color: rgb(14, 13, 13);
    margin: 1px;
    padding: 2px;
    text-align: center;
    
  }
